<nav class="navbar navbar-expand-md navbar-light " style="background-color: rgb(167, 152, 255); padding-left: 50px;">
  <fa-icon id="icon" [icon]="spinner" style="color: red;"></fa-icon>
  <h3><a class="navbar-brand" href="#">Ruchi Bakes</a></h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/aboutus">About Us </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/ingredients">Ingredients </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/productlist">Products </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>