
<div class="about-section" style="background-color: #dcdcdc;">
    <h1 >Write Us a Letter</h1>
  </div>

  <section class="about-section"> 
      
    <div class="row">
        <div class="col-sm-6" style="text-align: left;">
            <h2>Address1</h2>
            <p>Address2</p>
            <div>
                <br>
            </div>

            <p>Contact No : </p>
            
        </div>
        <div class="col-sm-6">
            <div>
            <input type="text" placeholder="Name" size="40">
        </div>
        <div><br></div>
        <div>
            <input type="email" placeholder="Email " size="40">
        </div>
        <div><br></div>
        <div>
            <textarea name="message" id="" placeholder="Message" cols="49" rows="10"></textarea>
        </div>
        <div><br></div>
        <div>
            <button class="btn">Send</button>
        </div>
           
            
            

        </div>
      </div>
      
</section>

<div class="row" style="background-color: #dcdcdc;">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <h2 style="text-align: center;">
            Connect With Us
        </h2>
        <div class="row">
        
        <div class="col-sm-4">
            <a href="#" class="fa fa-facebook">
        </a></div>
        <div class="col-sm-4">
        
            <a href="#" class="fa fa-twitter">

            </a></div>
            <div class="col-sm-4">
        
                <a href="#" class="fa fa-instagram">
    
                </a></div>
        </div>
        

    </div>
    <div class="col-sm-4">
        
        

    </div>

</div>